<div class="col-12">
    <div class="row" >
        <app-post-list-item *ngFor="let post of posts"
          [post]="post"
          [slug]="post.slug"
        ></app-post-list-item>
    </div>
  </div>
  